.container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    color: #f78223;
    border: 1px solid #ef7021;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem 2.5rem;
    background-color: #ffffff;
}

.button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #ef7021;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    border: 1px solid #a7a7a7;
    border-radius: 2px;
    color: #747474;
    padding: 0.75rem 1rem;
    height: fit-content;
    width: 50%;
}

.searchbar {
    font-size: 1rem;
    width: 100%;
    gap: 0.5rem;
    background-color: white;
    border: none;
    outline: none;
}

.searchbar:hover {
    cursor: text
}

/* Phones */
@media (max-width: 480px) {
    .button>span {
        display: none;
    }

    .button {
        padding: 0.5rem;
    }

    .container {
        gap: 1rem;
    }

    .searchContainer {
        width: 100%;
    }
}