@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-colour: #ef6c02;
}

* {
    box-sizing: border-box;
}

html body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Phones */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}