.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
    width: 100%;
    padding: 1rem;
    background-size: cover;
    border-radius: 8px;
    position: relative;
}

.roomsAvailable {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    padding: 0.5rem 1rem;
    display: flex;
    background-color: white;
    border-radius: 12px;
    gap: 0.75rem;
    align-items: center;
}

.buildingName {
    position: absolute;
    bottom: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    padding: 1rem 1rem;
    background-color: var(--primary-colour);
    color: white;
    border-radius: 8px;
    font-weight: 500;
}

.status {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #48b049;
}

/* Phones */
@media (max-width: 480px) {
    .buildingName {
        position: static;
        background-color: transparent;
        transform: none;
    }

    .roomsAvailable {
        position: static;
        font-size: 0.5rem;
        width: 75%;
    }
    
    .status {
        height: 1rem;
        width: 1rem;
    }

    .container {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        height: 10vh;
        background-position-y: center;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
    .container {
        height: 30vh;
    }
}