.container {
    margin: 0;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-bottom: 16px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoIcon {
    height: 48px;
}

.logoIcon:hover {
    cursor: pointer;
}

.logoName {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-colour);
    margin: 0;
}

.icon {
    color: var(--primary-colour);
    border: 1px solid #f9bb87;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 4px;
    padding: 0.25rem;
    background-color: #ffffff;
}

.iconClicked {
    color: #ffffff;
    background-color: var(--primary-colour);
}

.icon:not(.iconClicked):hover {
    cursor: pointer;
    background-color: #fef9f5;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px
}

/* Phones */
@media (max-width: 480px) {
    .logoName {
        display: none;
    }
}